@import "tailwindcss";
@plugin "daisyui" {
	themes: tinkerers-light --default, tinkerers-dark --prefersdark;
}
@plugin "@tailwindcss/typography";

@theme {
	--font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono",
		Menlo, Consolas, "Liberation Mono", monospace;
}

@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxjPVmUsaaDhw.woff2")
		format("woff2");
}

@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxjPVmUsaaDhw.woff2")
		format("woff2");
}

[data-theme="tinkerers-light"] {
	--p: oklch(0.769 0.188 70.08);
	--pf: oklch(0.666 0.179 58.318);
	--pc: oklch(0.278 0.07 45.635);

	--s: oklch(0.552 0.016 285.938);
	--sf: oklch(0.442 0.017 285.786);
	--sc: oklch(0.985 0.002 247.839);

	--a: oklch(0.666 0.179 58.318);
	--af: oklch(0.553 0.195 38.402);
	--ac: oklch(0.985 0.016 73.684);

	--n: oklch(0.442 0.017 285.786);
	--nf: oklch(0.37 0.013 285.805);
	--nc: oklch(0.985 0.002 247.839);

	--b1: oklch(1 0 0);
	--b2: oklch(0.985 0.002 247.839);
	--b3: oklch(0.967 0.003 264.542);
	--bc: oklch(0.228 0.006 285.885);

	--in: oklch(0.685 0.169 237.323);
	--su: oklch(0.723 0.191 149.579);
	--wa: oklch(0.769 0.188 70.08);
	--er: oklch(0.637 0.237 25.331);

	--rounded-box: 0.75rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.5rem;
	--animation-btn: 0.2s;
	--animation-input: 0.2s;
	--btn-focus-scale: 0.97;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme="tinkerers-dark"] {
	--p: oklch(0.769 0.188 70.08);
	--pf: oklch(0.666 0.179 58.318);
	--pc: oklch(0.278 0.07 45.635);

	--s: oklch(0.552 0.016 285.938);
	--sf: oklch(0.442 0.017 285.786);
	--sc: oklch(0.985 0.002 247.839);

	--a: oklch(0.666 0.179 58.318);
	--af: oklch(0.553 0.195 38.402);
	--ac: oklch(0.985 0.016 73.684);

	--n: oklch(0.321 0.007 264.529);
	--nf: oklch(0.274 0.006 286.033);
	--nc: oklch(0.92 0.004 264.532);

	--b1: oklch(0.21 0.006 285.885);
	--b2: oklch(0.177 0.005 285.823);
	--b3: oklch(0.147 0.004 285.823);
	--bc: oklch(0.92 0.004 264.532);

	--in: oklch(0.685 0.169 237.323);
	--su: oklch(0.723 0.191 149.579);
	--wa: oklch(0.769 0.188 70.08);
	--er: oklch(0.637 0.237 25.331);

	--rounded-box: 0.75rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.5rem;
	--animation-btn: 0.2s;
	--animation-input: 0.2s;
	--btn-focus-scale: 0.97;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}
